<?xml version="1.0" encoding="UTF-8"?>
<included>
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%t, %d, %-5p, %C:%L] - %.-100000m%n</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
	</root>

	<logger name="no.nav.saf" level="DEBUG" additivity="false">
		<appender-ref ref="CONSOLE"/>
	</logger>

	<logger name="org.apache.cxf" level="INFO"/>

	 <!--Set additivity to false when deployed -->
	<logger name="org.apache.cxf.interceptor" additivity="true">
		<appender-ref ref="CONSOLE"/>
	</logger>
</included>