<?xml version="1.0" encoding="UTF-8"?>
<included>
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>

	<appender name="applikasjonslogg" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
				<maxDepthPerThrowable>30</maxDepthPerThrowable>
				<exclude>java\.util\.concurrent\..*</exclude>
				<exclude>org\.apache\.tomcat\..*</exclude>
				<exclude>org\.apache\.coyote\..*</exclude>
				<exclude>org\.apache\.catalina\..*</exclude>
				<exclude>org\.springframework\.web\..*</exclude>
				<exclude>sun\.net\.www\..*</exclude>
				<exclude>io\.reactivex\.internal\..*</exclude>
			</throwableConverter>
		</encoder>
	</appender>

	<appender name="sporbarhetslogg" class="com.papertrailapp.logback.Syslog4jAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>[%X{callId}] - %m%n</pattern>
		</layout>

		<syslogConfig class="org.productivity.java.syslog4j.impl.net.tcp.TCPNetSyslogConfig">
			<host>audit.nais</host>
			<port>6514</port>
			<ident>saf_audit</ident>
			<maxMessageLength>128000</maxMessageLength>
		</syslogConfig>
	</appender>

	<logger level="INFO" name="sporbarhetslogg" additivity="false">
		<appender-ref ref="sporbarhetslogg"/>
	</logger>

	<!--
	 Timestamp blir generert av appenderen.
	 Eksempel: 2019-06-07T07:21:20+02:00 <pod_navn> saf_audit_hentdokument: [callId] - message
	 -->
	<appender name="hentdokument_sporbarhetslogg" class="com.papertrailapp.logback.Syslog4jAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>[%X{callId}] - %m%n</pattern>
		</layout>

		<syslogConfig class="org.productivity.java.syslog4j.impl.net.tcp.TCPNetSyslogConfig">
			<host>audit.nais</host>
			<port>6514</port>
			<ident>saf_audit_hentdokument</ident>
			<maxMessageLength>128000</maxMessageLength>
		</syslogConfig>
	</appender>

	<logger level="INFO" name="hentdokument_sporbarhetslogg" additivity="false">
		<appender-ref ref="hentdokument_sporbarhetslogg"/>
	</logger>

	<root level="WARN">
		<appender-ref ref="applikasjonslogg"/>
	</root>

	<logger name="no.nav.saf" level="INFO" additivity="false">
		<appender-ref ref="applikasjonslogg"/>
	</logger>

	<!-- Ikke logg org.apache.catalina.connector.ClientAbortException ERROR -->
	<logger name="org.apache.catalina.connector.OutputBuffer" additivity="false" level="FATAL">
		<appender-ref ref="applikasjonslogg"/>
	</logger>
</included>