<?xml version="1.0" encoding="UTF-8"?>
<included>
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>

	<appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
				<maxDepthPerThrowable>30</maxDepthPerThrowable>
				<exclude>java\.util\.concurrent\..*</exclude>
				<exclude>org\.apache\.tomcat\..*</exclude>
				<exclude>org\.apache\.coyote\..*</exclude>
				<exclude>org\.apache\.catalina\..*</exclude>
				<exclude>org\.springframework\.web\..*</exclude>
				<exclude>sun\.net\.www\..*</exclude>
			</throwableConverter>
		</encoder>
	</appender>

	<appender name="sporbarhetsLogger" class="com.papertrailapp.logback.Syslog4jAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>[%d, %-5p, %C:%L] - [%X{user},%X{transaction},%X{applicationKey}] - %m%n</pattern>
		</layout>

		<syslogConfig class="org.productivity.java.syslog4j.impl.net.tcp.TCPNetSyslogConfig">
			<host>audit.nais</host>
			<port>6514</port>
			<ident>saf_audit</ident>
			<maxMessageLength>128000</maxMessageLength>
		</syslogConfig>
	</appender>

	<logger level="INFO" name="sporbarhetsLogger" additivity="false">
		<appender-ref ref="sporbarhetsLogger"/>
	</logger>

	<root level="WARN">
		<appender-ref ref="stdout_json"/>
	</root>

	<logger name="no.nav.saf" level="INFO" additivity="false">
		<appender-ref ref="stdout_json"/>
	</logger>
</included>