<?xml version="1.0" encoding="UTF-8"?>
<included>
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%t, %d, %-5p, %C:%L] - %.-100000m%n</pattern>
		</encoder>
	</appender>

	<appender name="sporbarhetslogg" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>[%X{callId}] - %m%n</pattern>
		</layout>
	</appender>

	<logger level="INFO" name="sporbarhetslogg" additivity="false">
		<appender-ref ref="sporbarhetslogg"/>
	</logger>

	<appender name="hentdokument_sporbarhetslogg" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>[%X{callId}] - %m%n</pattern>
		</layout>
	</appender>

	<logger level="INFO" name="hentdokument_sporbarhetslogg" additivity="false">
		<appender-ref ref="hentdokument_sporbarhetslogg"/>
	</logger>

	<root level="WARN">
		<appender-ref ref="CONSOLE"/>
	</root>

	<logger name="io.lettuce" level="OFF" additivity="false">
	</logger>

	<logger name="no.nav.saf" level="INFO" additivity="false">
		<appender-ref ref="CONSOLE"/>
	</logger>
</included>